body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

header {
  background: url(../picture/header_picture.png);
  background-repeat: repeat-x;
  background-size: 100px 100px;
  
}

.logo_bellona {
  width: 170px;
  margin-top: 3%;
}

.header_wrapper {
    max-width: 1700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
height: 100px;
align-items: center;
}



nav ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 20px;
  
}

nav li {
  list-style: none;
  
}

nav a {
  text-decoration: none;
  
  padding: .5em 1.5em;
}



.active{
    font-weight: bolder;
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: whitesmoke;
    font-weight: bold;
   
}

time{
  color: whitesmoke;
    font-weight: bold;
}

h4{
    color: whitesmoke;
    font-size: 25px;
}

.telefon{
    font-size: 25px;
}

.green_color{
    color: #478E53;
}




/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }
}













.main-menu ul {
  list-style: none;
  padding: 0;


}